@font-face {
    font-family: 'InpinHongmengti';
    src: url('../ASSETS/ZZZ.ttf') format('truetype');
    font-display: swap;
}

/*body{
    margin:0;
    background-image: url('../ASSETS/IMG/hq720.jpg');
    background-size: 100%;
    cursor: url("../ASSETS/cursor.cur"),auto;
}

#DynamicWallpaper {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    max-width: 100%;
    z-index: -1;
    -webkit-user-drag: none;
}

html, body {
    height: 100%; 
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.change-background-btn{
    width: 75px;
    height: 50px;
    background: linear-gradient(grey,#161616, #161616);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin-bottom: 75px;
    margin-left: 95px;
}

.change-background-btn:active .change-background-btn-extra{
    background: transparent;
}

.change-background-img{
    width: 35px ;
    -webkit-user-drag: none;
}


header {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;

    background-image:
      radial-gradient(circle at center, black 0.08rem, transparent 0),
      radial-gradient(circle at center, black 0.08rem, transparent 0);
    background-size: 0.6rem 0.6rem;
    background-position: 0 0, 0.3rem 0.3rem;

    mask-image: linear-gradient(rgb(0 0 0), rgb(0 0 0));
    -webkit-user-drag: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.back-btn{
    border: 1px solid transparent;
    aspect-ratio: 3/2;
    height: 50px;
    border-radius:15px 27px 27px 30px;
    float: left;
}

.back-btn:active{
    animation: button-pressed 1s infinite;
}

@keyframes button-pressed {
    0% {
        transform: scale(100%,100%);
        background: linear-gradient(45deg, #e3ff00,#a2ff00, #e3ff00);
    }
    50%{
        transform: scale(110%,110%);
    }
    75% {
        background: linear-gradient(45deg, #a2ff00,#e3ff00, #a2ff00);
    }
    100% {
        transform: scale(100%,100%);
        background: linear-gradient(45deg, #e3ff00,#a2ff00, #e3ff00);
    }
}

.back-btn-img{
    width: 100%;
    height: 100%;
    display: block;
    user-select: none;
}

.back-btn-img:active{
    width: 100%;
    height: 100%;
    display: none;
}

.profile-btn {
    width: 300px;
    max-width: 100%;
    height: 50px;
    background: linear-gradient(grey,#161616, #161616);
    border-radius: 30px;
    margin-left: 25px;
    color: white;
    font-family: 'inpin hongmengti', italic;
    padding: 4px;
    box-sizing: border-box;
    float: left;
}

.profile-btn:active{
    animation: button-pressed 1s infinite;
}

.profile-btn-extra {
    background: linear-gradient(#252525,#212121, #181818);
    border-radius: 25px;
    height: 43px;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    user-select: none;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    filter: drop-shadow(0px 0px 4px #000000);
    -webkit-user-drag: none;
}

.user-data {
    flex: 1;
    min-width: 0;
    margin-top: -11%;
}

#username {
    margin: 0 0 8px 0;
    text-shadow: 3px 3px 2px black;
    margin-top: 12.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'InpinHongmengti', sans-serif;
}

.lvlBar-container {
    background-color: black;
    width: 72.5%;
    height: 12px;
    margin-top: -2%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border:solid #000000;
}

.lvlBar-completition {
    background: linear-gradient(135deg, #2aa8ff, #3ec1ff);
    height: 100%;
    width: 55%;
    margin-top: 0;
    border-radius: 10px;
}

.user-level-container {
    display: flex;
    align-items: center;
    margin-top: -19%;
    margin-left: 75%;
    flex-direction: column;
    align-items: center;
    font-family: 'InpinHongmengti', sans-serif;
}


#user-lvl {
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 3px 3px 2px black;
}

#level-tag {
    font-size: 0.6rem;
    margin: 0;
    text-shadow: 3px 3px 2px black;
    opacity: 0.8;
}

.title-page{
    margin-left: 25px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'inpin hongmengti', italic;
    -webkit-user-drag: none;
    user-select: none;
}

.friend-list-btn{
    aspect-ratio: 1;
    height: 40px;
    background: linear-gradient(grey,#161616, #161616);
    border-radius: 30px;
    margin-left: 25px;
    padding: 4px;
}

.friend-list-btn:active{
    filter: invert();
    animation: footer-button-pressed 1s infinite;
}

.friend-list-btn:active .friend-list-btn-extra{
    background: transparent;
}

.friend-list-btn-extra {
    aspect-ratio: 1;
    height: 40px;    
    background: linear-gradient(#252525,#212121, #181818);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend-list-img {
    width: 30px;
    aspect-ratio: 1;
    filter: drop-shadow(0px 0px 4px #000000);
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes footer-button-pressed {
    0% {
        transform: scale(100%,100%);
        background: linear-gradient(45deg, #1c00ff,#5d00ff, #1c00ff,#5d00ff, #1c00ff);
    }
    50%{
        transform: scale(110%,110%);
    }
    75% {
        background: linear-gradient(45deg, #5d00ff,#1c00ff, #5d00ff,#1c00ff, #5d00ff);
    }
    100% {
        transform: scale(100%,100%);
        background: linear-gradient(45deg, #1c00ff,#5d00ff, #1c00ff,#5d00ff, #1c00ff);
    }
}*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 138px;
    margin-top: auto;

    background-image:
      radial-gradient(circle at center, black 0.08rem, transparent 0),
      radial-gradient(circle at center, black 0.08rem, transparent 0);
    background-size: 0.6rem 0.6rem;
    background-position: 0 0, 0.3rem 0.3rem;

    mask-image: linear-gradient(rgb(0 0 0), rgb(0 0 0));
}

.footer-scroll {
    display: flex;
    align-items: center;
    gap: 24px;

    width: 100%;
    height: 100%;

    overflow-x: auto;
    overflow-y: hidden;

    white-space: nowrap;
    scroll-behavior: smooth;

    background-color: rgba(0,0,0,0.5);
    padding: 0 24px;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;

}

.footer-scroll::-webkit-scrollbar {
    display: none;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-shadow: 3px 3px 2px black;
    user-select: none;
    flex: 0 0 auto;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-left: 25px;
    margin-right: -25px;
    scroll-snap-align: center;
    background: linear-gradient(grey,#161616, #161616);
}

.btn-extra{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-shadow: 3px 3px 2px black;
    user-select: none;
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    scroll-snap-align: center;    
    background: linear-gradient(#252525,#212121, #181818);
}

.btn:active{
    text-shadow: 0px 0px 0px black;
    animation: CDW-button-pressed 1s infinite;
}

.btn-img{
    height: 90px;
    width: 90px;
    border-radius: 100%;
    -webkit-user-drag: none;
    user-select: none;
}

@keyframes CDW-button-pressed {
    0% {
        transform: scale(100%,100%);
        background: linear-gradient(45deg, #e3ff00,#a2ff00, #e3ff00);
    }
    50%{
        transform: scale(105%,105%);
    }
    75% {
        background: linear-gradient(45deg, #a2ff00,#e3ff00, #a2ff00);
    }
    100% {
        transform: scale(100%,100%);
        background: linear-gradient(45deg, #e3ff00,#a2ff00, #e3ff00);
    }
}