/* ================= Font ================= */

@font-face {
    font-family: 'InpinHongmengti';
    src: url('../ASSETS/ZZZ.ttf') format('truetype');
    font-display: swap;
}


/* ================= Footer Container ================= */

footer{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 138px;
    margin-top: auto;

    background-image:
      radial-gradient(circle at center, black 0.08rem, transparent 0),
      radial-gradient(circle at center, black 0.08rem, transparent 0);
    background-size: 0.6rem 0.6rem;
    background-position: 0 0, 0.3rem 0.3rem;

    mask-image: linear-gradient(rgb(0 0 0), rgb(0 0 0));
}


/* ================= Scroll Area ================= */

.footer-scroll {
    display: flex;
    align-items: center;
    gap: 24px;

    width: 100%;
    height: 100%;

    overflow-x: auto;
    overflow-y: hidden;

    white-space: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    background-color: rgba(0,0,0,0.5);
    padding: 0 25px;
    box-sizing: border-box;
}

.footer-scroll::-webkit-scrollbar {
    display: none;
}


/* ================= Buttons ================= */

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 auto;
    width: 110px;
    height: 110px;

    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;

    background: linear-gradient(grey,#161616, #161616);
    text-shadow: 3px 3px 2px black;
    user-select: none;

    scroll-snap-align: center;
}

.btn-extra{
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 auto;
    width: 100px;
    height: 100px;

    border-radius: 100%;
    background: linear-gradient(#252525,#212121, #181818);

    text-shadow: 3px 3px 2px black;
    user-select: none;

    scroll-snap-align: center;    
}

.btn:active{
    text-shadow: 0px 0px 0px black;
    animation: CDW-button-pressed 1s infinite;
}

.btn-img{
    height: 90px;
    width: 90px;
    border-radius: 100%;
    -webkit-user-drag: none;
    user-select: none;
}


/* ================= Edge Spacing Buttons ================= */

[name="first-btn"]{
    margin-left: 100px;
}

[name="last-btn"]{
    margin-right: 100px;
}


/* ================= Arrow Overlays ================= */

.left-arrow, .right-arrow {
    position: absolute;
    top: 0;

    height: 100%;
    width: 115px;

    display: flex;
    align-items: center;
}

.left-arrow {
    left: 0px;
    justify-content: flex-end;

    background: linear-gradient(
        90deg,
        rgba(0,0,0,1),
        rgba(0,0,0,0.66),
        rgba(0,0,0,0)
    );
}

.right-arrow {
    right: 0px; 
    justify-content: flex-start;

    background: linear-gradient(
        90deg,
        rgba(0,0,0,0),
        rgba(0,0,0,0.66),
        rgba(0,0,0,1)
    );
}


/* ================= Arrow Images ================= */

#left-arrowIMG {
    height: 40px;

    filter:
        drop-shadow(0 -1px 0 #808080)
        drop-shadow(-1px -1px 0 #808080)
        drop-shadow(1px -1px 0 #808080)

        drop-shadow(-1px 0 0 #fff)
        drop-shadow(1px 0 0 #808080)

        drop-shadow(0 1px 0 #fff)
        drop-shadow(-1px 1px 0 #808080)
        drop-shadow(1px 1px 0 #808080);
}

#right-arrowIMG {
    height: 40px;

    filter:
        drop-shadow(0 -1px 0 #808080)
        drop-shadow(-1px -1px 0 #808080)
        drop-shadow(1px -1px 0 #808080)

        drop-shadow(-1px 0 0 #808080)
        drop-shadow(1px 0 0 #fff)

        drop-shadow(0 1px 0 #fff)
        drop-shadow(-1px 1px 0 #808080)
        drop-shadow(1px 1px 0 #808080);
}
