@font-face {
    font-family: 'InpinHongmengti';
    src: url('../ASSETS/ZZZ.ttf') format('truetype');
    font-display: swap;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: auto;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    box-sizing: border-box;
}

.btn{
    color:white;
    font-family: 'InpinHongmengti', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:12px;
    border-radius: 5px;
    text-shadow: 3px 3px 2px black;
}

.btn:active{
    filter: invert();
    text-shadow: 0px 0px 0px black;
    animation: button-pressed 1s infinite;
}

@keyframes button-pressed {
    0% {
        background: linear-gradient(45deg, #1c00ff,#5d00ff, #1c00ff,#5d00ff, #1c00ff);
    }
    75% {
        background: linear-gradient(45deg, #5d00ff,#1c00ff, #5d00ff,#1c00ff, #5d00ff);
    }
    100% {
        background: linear-gradient(45deg, #1c00ff,#5d00ff, #1c00ff,#5d00ff, #1c00ff);
    }
}

.btn-img{
    height: 55px;
}

.btn-text{
    font-size: 1rem;
    margin: 0;
    margin-top: 15px;
}