@font-face {
    font-family: 'InpinHongmengti';
    src: url('../ASSETS/ZZZ.ttf') format('truetype');
    font-display: swap;
}

header {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    
}

.back-btn{
    border: 1px solid transparent;
    aspect-ratio: 3/2;
    height: 50px;
    border-radius:15px 27px 27px 30px;
    float: left;
}

.back-btn:active{
    border: 1px solid transparent;
    aspect-ratio: 3/2;
    height: 50px;
    border-radius:15px 27px 27px 50px;
    float: left;
    animation: button-pressed 2s infinite;
}

@keyframes button-pressed {
    0% {
        transform: scale(100%,100%);
        background-color: #e3ff00;
    }
    50%{
        transform: scale(110%,110%);
    }
    75% {
        background-color: #a2ff00;
    }
    100% {
        transform: scale(100%,100%);
        background-color: #e3ff00;
    }
}

.back-btn-img{
    width: 100%;
    height: 100%;
    display: block;
}

.back-btn-img:active{
    width: 100%;
    height: 100%;
    display: none;
}

.profile-btn {
    width: 300px; /* Fixed width or use max-width */
    max-width: 100%;
    height: 50px;
    background: linear-gradient(grey,#161616, #161616);
    border-radius: 30px;
    margin-left: 100px;
    color: white;
    font-family: 'inpin hongmengti', italic;
    padding: 4px;
    box-sizing: border-box;
}

.profile-btn-extra {
    background: linear-gradient(#252525,#212121, #181818);
    border-radius: 25px;
    height: 43px;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    filter: drop-shadow(0px 0px 4px #000000);
}

.user-data {
    flex: 1;
    min-width: 0; /* Prevents flex item from overflowing */
    margin-top: -11%;
}

#username {
    margin: 0 0 8px 0;
    text-shadow: 3px 3px 2px black;
    margin-top: 12.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'InpinHongmengti', sans-serif;
}

.lvlBar-container {
    background-color: black;
    width: 72.5%;
    height: 12px;
    margin-top: -2%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border:solid #000000;
}

.lvlBar-completition {
    background: linear-gradient(135deg, #2aa8ff, #3ec1ff);
    height: 100%;
    width: 55%;
    margin-top: 0;
    border-radius: 10px;
}

.user-level-container {
    display: flex;
    align-items: center;
    margin-top: -19%;
    margin-left: 75%;
    flex-direction: column;
    align-items: center; /* optional */
    font-family: 'InpinHongmengti', sans-serif;
}


#user-lvl {
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 3px 3px 2px black;
}

#level-tag {
    font-size: 0.6rem;
    margin: 0;
    text-shadow: 3px 3px 2px black;
    opacity: 0.8;
}