body{
    margin:0;
    background-image: url('../ASSETS/IMG/LoadingScreens/0.jpg');
    background-size: 100%;
    cursor: url("../ASSETS/cursor.cur"),auto;
}

#DynamicWallpaper {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    max-width: 100%;
    z-index: -1;
    -webkit-user-drag: none;
}

#LoadingScreen {
    margin:0;
    position: fixed;
    right: 0;
    bottom: 0;
    background-image: url('../ASSETS/IMG/LoadingScreens/119.jpg');
    background-size: auto 100%;
    background-position: center;
    min-width: 100%; 
    min-height: 100%;
    z-index: 1000;

    transform-origin: left;
    transform: scaleX(0);
    display: none;
}

@keyframes loading-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes loading-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.loading-in {
    animation: loading-in 0.5s ease forwards;
}

.loading-out {
    animation: loading-out 0.5s ease forwards;
}

html, body {
    height: 100%; 
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding-top: 125px;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 175px;
}

#footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 998;
}

.change-background-btn {
    position: fixed;
    bottom: 175px;        
    left: 35px;
    width: 75px;
    height: 50px;
    background: linear-gradient(grey,#161616, #161616);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.change-background-btn:active{
    filter: invert();
    animation: footer-button-pressed 1s infinite;
}

.change-background-btn-extra{
    width: 60px;
    height: 40px;
    background: linear-gradient(#252525,#212121, #181818);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-drag: none;
    user-select: none;
}

.change-background-btn:active .change-background-btn-extra{
    background: transparent;
}

.change-background-img{
    width: 35px ;
    -webkit-user-drag: none;
}

.post-container{
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 415px;
    border-radius: 20px 20px 0px 20px;
    color: #acacab;
    font-family: 'inpin hongmengti', italic;
}

.post-container:hover{
    animation: CDW-button-pressed 1s infinite;
}

@keyframes CDW-button-pressed {
    0% {
        transform: scale(100%,100%);
        background: linear-gradient(45deg, #e3ff00,#a2ff00, #e3ff00);
    }
    50%{
        transform: scale(105%,105%);
    }
    75% {
        background: linear-gradient(45deg, #a2ff00,#e3ff00, #a2ff00);
    }
    100% {
        transform: scale(100%,100%);
        background: linear-gradient(45deg, #e3ff00,#a2ff00, #e3ff00);
    }
}

.post-container:hover .post{
    margin: 5px;
}

.post-container:hover #user-name {
    width: 200px;
}

.post{
    width: 300px;
    height: 400px;
    background-color: #222222;
    border: 4px solid black;
    border-radius:15px 15px 0px 15px;
    overflow: hidden;
}

.post-images{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


#post-image-preview{
    width: auto;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.user-info{
    display: flex;
    align-items: normal;
    justify-content: flex-start;
}


#user-pfp{
    width: 50px;
    height: 50px;
    border: 4px solid #222222;
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 5px;
}

#user-name{
    margin-left: 5px;
    margin-top: 4px;
    width: 210px;
    padding-bottom: 3px;
    border: 3px solid #353535;
    border-style: none none solid none;
}


.post-content{
    padding-left:4px;
    margin-top: -33px;
}

.post-title{
    color:#fff;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    max-height: 50px;
}

.post-desc{
    margin-top: -20px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    max-height: 130px;
}

.post-modal-container{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
}

.post-modal{
    overflow: hidden;
    background-color: #161616;
    border: 4px solid black;
    border-radius:15px 0px 15px 15px;
    width: 1250px;
    height: 600px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.post-header{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.45);
    background-image:
      radial-gradient(circle at center, black 0.08rem, transparent 0),
      radial-gradient(circle at center, black 0.08rem, transparent 0);
    background-size: 0.6rem 0.6rem;
    background-position: 0 0, 0.3rem 0.3rem;

    mask-image: linear-gradient(rgb(0 0 0), rgb(0 0 0));

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-family: 'inpin hongmengti', italic;
}

#post-user-pfp{
    width: 75px;
    height: 75px;
    border: 4px solid #222222;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: -1px;
}

#post-user-name{
    color: #808080;
    margin-left: 15px;
    margin-top: -10px;
}

.post-likes{
    color: #000;
    font-size: 12px;
    background-color: #606060;
    height: 25px;
    width: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25px;

    margin-left: -165px;
    margin-top: 40px;
}

.post-main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
}

.post-image-container{
    overflow: hidden;
    width: 400px;
    height: 425px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #323232;
    border-radius: 15px;

    margin-left: 30px;
}

#post-image{
    width: auto;
    height: 100%;
}

.post-data{
    overflow: hidden;

    margin-left: 30px;

    width: 700px;
    height: 375px;

    border: 3px solid #000;
    border-radius: 15px;

    background: #000;

    font-family: 'inpin hongmengti', italic;

    padding: 25px;

    overflow-y: scroll;
    scrollbar-color: #555 #222;

    color: #757575;
}

#post-title{
    color:#fff;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    max-height: 75px;
}

.post-comments{
    width: 100%;
}

#comment-user-pfp{
    width: 50px;
    height: 50px;
    border: 3px solid #323232;
    border-radius: 50%;
}

.comment {
    display: flex;
    align-items: flex-start;
    gap: 12px;

    padding: 14px;
    max-width: 700px;

    border: 3px solid #323232;
    border-style: none none solid none ;
}

.comment-body {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.comment-user-name {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.comment-user-text {
    margin: 0;
    color: #bdbdbd;
    font-size: 0.9rem;
    line-height: 1.45;
}
