body{
    margin:0;
    background-image: url('../ASSETS/IMG/hq720.jpg');
    background-size: 100%;
    cursor: url("../ASSETS/cursor.cur"),auto;
}

#DynamicWallpaper {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    max-width: 100%;
    z-index: -1;
    -webkit-user-drag: none;
}

#LoadingScreen {
    margin:0;
    position: fixed;
    right: 0;
    bottom: 0;
    background-image: url('../ASSETS/IMG/119.jpg');
    background-size: auto 100%;
    background-position: center;
    min-width: 100%; 
    min-height: 100%;
    z-index: 1000;

    transform-origin: left;
    transform: scaleX(0);
    display: none;
}

/* appear: left → right */
@keyframes loading-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* disappear: left → right */
@keyframes loading-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* utility classes */
.loading-in {
    animation: loading-in 0.5s ease forwards;
}

.loading-out {
    animation: loading-out 0.5s ease forwards;
}

html, body {
    height: 100%; 
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.change-background-btn{
    width: 75px;
    height: 50px;
    background: linear-gradient(grey,#161616, #161616);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin-bottom: 75px;
    margin-left: 95px;
}

.change-background-btn:active{
    filter: invert();
    animation: footer-button-pressed 1s infinite;
}

.change-background-btn-extra{
    width: 60px;
    height: 40px;
    background: linear-gradient(#252525,#212121, #181818);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-drag: none;
    user-select: none;
}

.change-background-btn:active .change-background-btn-extra{
    background: transparent;
}

.change-background-img{
    width: 35px ;
    -webkit-user-drag: none;
}